<!DOCTYPE html>
<html lang="en">

<head>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1ceN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style/index.css">
  <link rel="stylesheet" href="style/deve.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyan</title>
</head>

<body>
  <div class="development">
    <div class="deve-1">
      <div class="cross"><i class="fa-solid fa-xmark"></i></div>
      <h2>UNDER DEVELOPMENT</h2>
    </div>


  </div>
  <div class="deve-2">

    <h2>UNDER DEVELOPMENT</h2>
    <div class="youtubes">
      <div class="youtube-1 youtube">
        <div class="black"></div>
        <iframe width="371" height="230"
          src="https://www.youtube.com/embed/DhrqrC5qhzg?controls=0&modestbranding=1&si=Fml-ATovBz2XwRkR"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


      </div>
      <div class="youtube-2 youtube">
        <div class="black"></div>

        <iframe width="371" height="230" src="https://www.youtube.com/embed/rx_c9JF6QEM?si=Bxm7-h1q4XOLPlUt"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="youtube-3 youtube">
        <div class="black"></div>

        <iframe width="371" height="230" src="https://www.youtube.com/embed/o_D5CrlGGqg?si=0xZfGbOvQig2EJZQ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>


      <div class="youtube-4 youtube">
        <div class="black"></div>

        <iframe width="371" height="230" src="https://www.youtube.com/embed/8FIWu6OZx5A?si=cB0iy32HCxBuBp34"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="youtube-5 youtube">
        <div class="black"></div>
        <iframe width="371" height="230" src="https://www.youtube.com/embed/_NSqt6OqtYk?si=fuEmcMkvOmDG5tpE"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="youtube-6 youtube">
        <div class="black"></div>

        <iframe width="371" height="230" src="https://www.youtube.com/embed/6feM0ANGtkw?si=maofv_IlMtdSenss"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <h4>but follow the magic here </h4>

    <div class="social">
      <a href="https://x.com/HtownBaddie"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.instagram.com/colormecyan/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.youtube.com/@colormecyan"><i class="fa-brands fa-youtube"></i></a>
      <!-- <i class="fa-brands fa-facebook"></i> -->

    </div>
  </div>


  <div class="loader">
    <div class="coast">
      <div class="wave-rel-wrap">
        <div class="wave"></div>
      </div>
    </div>
    <div class="coast delay">
      <div class="wave-rel-wrap">
        <div class="wave delay"></div>
      </div>
    </div>
    <div class="text text-w">C</div>
    <div class="text text-a">Y</div>
    <div class="text text-v">A &nbsp</div>
    <div class="text text-e">N</div>
  </div>
  <main>

    <!-- <div class="welcome">
            <div class="div"></div>
            <div class="div"></div>
        </div> -->

<div class="bg-img">
  <div class="black-con">
    
  </div>
</div>
    <nav>
      <div class="nav">
        <!-- <div class="timing">
          <p id="time"></p>
        </div> -->
        <div class="text">

          <h3>C-F</h3>
        </div>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#lifestyle">Lifestyle</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="#">About me</a></li>
        </ul>

        <div class="button">
          <a href="#">Book Me</a>
        </div>
      </div>
    </nav>

    <div class="hero-con">
      <div class="hero" id="hero">
        <div class="black"></div>
        <div class="hero-text">
          <div class="content">
            <h1>Cyan</h1>
            <h1>Foster</h1>
          </div>

        </div>
      </div>


      <!-- <div class="info">
        <p>Professional<br>Model</p>
        <p>UGC<br>Creator</p>
      </div> -->
      <img src="gif/bird-2.gif" class="gif-1" alt="">
    </div>
    <!-- 
    <section class="section-2 ">
      <div class="text">
        <h1>Who am i</h1>
        <h4>Travel Enthusiast</h4>
        <h4>& </h4>
        <h4>social media manager</h4>
      
      </div>
      <div class="img">
        <img src="img/face2.jpeg" alt="">
      </div>

    </section> -->

    <section class="filler">
      <div class="leaf">
        <img src="img/leaf-4.png" alt="">
      </div>
      <!-- <div class="leaf-2">
        <img src="img/leaf-4.png" alt="">
      </div> -->
      <div class="text">
        <h1>My Story</h1>
        <p>As a traveler and photographer, I navigate a beautifully imperfect life, capturing moments of elegance and
          adventure. From luxurious resort escapes to uncovering skincare secrets, I blend my experiences and insights
          into a vibrant narrative. Join me in exploring how each journey and creative endeavor adds to my radiant,
          authentic story.</p>
      </div>
      <div class="img">
        <img src="img/face2.jpeg" alt="">

      </div>
    </section>
    <section class="section-3" id="lifestyle">

      <!-- <h1>LIFESTYLE</h1> -->
      <div class="videos">
        <div class="video video-1">
          <video controls>
            <source src="video/Video-2.MOV" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3>Radiance</h3>
          <p>Discover how simple skincare routines can enhance your natural beauty.</p>
        </div>
        <div class="video video-2">
          <video controls>
            <source src="video/Video-3.MOV" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3>Retreat
          </h3>
          <p>Experience the elegance and relaxation of a luxury resort getaway.
          </p>
        </div>
        <div class="video video-3">
          <video controls>
            <source src="video/Video-5.MOV" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3>Voyage</h3>
          <p>Follow my travels and discover essential makeup tips to keep your skin radiant. </p>
        </div>
      </div>

      <div class="sub-section">
        <div class="yts">
          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/DhrqrC5qhzg?si=Fml-ATovBz2XwRkR" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/rx_c9JF6QEM?si=Bxm7-h1q4XOLPlUt" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/o_D5CrlGGqg?si=0xZfGbOvQig2EJZQ" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/8FIWu6OZx5A?si=cB0iy32HCxBuBp34" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/_NSqt6OqtYk?si=fuEmcMkvOmDG5tpE" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

          <div class="yt-1"><iframe width="371" height="230"
              src="https://www.youtube.com/embed/6feM0ANGtkw?si=maofv_IlMtdSenss" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        </div>
      </div>
      <hr>
    </section>






    <div class="images">
      <div class="img img-1">
        <div class="text">
          <p>Book Me</p>
          <i class="fa-solid fa-message"></i>
        </div>
      </div>
      <div class="img img-2"></div>
      <div class="img img-3">
        <div class="img-3-con"></div>
        <!-- <img src="img/face2.jpeg" alt=""> -->
      </div>
      <div class="img img-4"></div>
      <div class="img img-5"></div>
      <div class="img img-6">

        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="img img-7">
        <i class="fa-brands fa-x-twitter"></i>
      </div>
      <div class="img img-8">
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div class="img img-9">
        <div class="text">
          <p>Youtube</p>
          <i class="fa-solid fa-play"></i>
        </div>
      </div>
    </div>
    <section class="section-5">
      <div>
        <div class="text-1 text">
          <p class="data1 data">12000</p>
          <p>Travel Community</p>
        </div>
        <div class="text-2 text">
          <p class="data2 data">80000</p>
          <p>Views on Social Platform</p>
        </div>
      </div>
    </section>
    <section class="section-4" id="services">
      <img src="img/travel.png" alt="" class="travel">
      <div class="leaf">
        <img src="img/leaf-1.png" alt="">
      </div>

      <h1>Creative Social <br> Media Services</h1>



      <div id="process-groupblock_21544c90c6b2f81eb2d41d61f37e630c" class="process-container  ">

        <div class="process-steps">

          <div id="process-block_a924c0b265f2e596e408e89cd67ac3f8" class="process-step">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">Instagram feed post</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 1</div> -->
                <div class="process-step-content">

                  <p>Enhance your brand’s presence with visually captivating Instagram feed posts. I specialize in
                    creating engaging content that highlights your products, services, or experiences, blending
                    stunning
                    visuals with compelling narratives to connect with your audience.</p>

                </div>
              </div>
            </div>
          </div>

          <!--add "inactive" class to .process-step if inactive-->
          <div id="process-block_0efa5ab9bc951e3c8197de35adb03f45" class="process-step" style="">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">Story post</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 2</div> -->
                <div class="process-step-content">

                  <p>Engage your audience with dynamic Instagram Stories. I create compelling posts that showcase your
                    brand’s personality through quick tips, behind-the-scenes glimpses, and interactive content to
                    build
                    a strong connection with your followers.</p>


                </div>
              </div>
            </div>
          </div>

          <!--add "inactive" class to .process-step if inactive-->
          <div id="process-block_94c5869fb630218cb0c31d9759066fd9" class="process-step" style="">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">Dedicated Reel or TikTok</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 3</div> -->
                <div class="process-step-content">

                  <p>Elevate your brand with eye-catching Reels or TikTok videos. I produce short, impactful content
                    that captures attention, highlights your products, and engages your audience with creative
                    storytelling.
                  </p>

                </div>
              </div>
            </div>
          </div>

          <!--add "inactive" class to .process-step if inactive-->
          <div id="process-block_94c5869fb630218cb0c31d9759066fd9" class="process-step" style="">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">UGC photos/videos</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 4</div> -->
                <div class="process-step-content">

                  <p>Harness the power of authentic user-generated content. I create high-quality photos and videos
                    that
                    reflect real-life experiences with your brand, building trust and resonating with your audience
                    through genuine storytelling.
                  </p>

                </div>
              </div>
            </div>
          </div>

          <!--add "inactive" class to .process-step if inactive-->
          <div id="process-block_94c5869fb630218cb0c31d9759066fd9" class="process-step" style="">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">Integrated Reel or TikTok</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 5</div> -->
                <div class="process-step-content">

                  <p>Seamlessly blend your brand into engaging Reels or TikTok videos. I craft content that naturally
                    integrates your products or services into trending formats, creating a smooth and compelling
                    narrative that resonates with viewers.
                  </p>

                </div>
              </div>
            </div>
          </div>

          <!--add "inactive" class to .process-step if inactive-->
          <div id="process-block_94c5869fb630218cb0c31d9759066fd9" class="process-step" style="">
            <div class="left-column">
              <h2 class="process-step-count"></h2>
            </div>

            <div class="right-column">
              <h2 class="process-step-title">Feature on my YouTube</h2>
              <div class="process-step-headline-content">
                <!-- <div class="process-step-headline">Headline 5</div> -->
                <div class="process-step-content">

                  <p>Gain exposure through a feature on my YouTube channel. I create in-depth content that highlights
                    your brand, product, or service, weaving it into my lifestyle and experiences to connect with my
                    audience in a meaningful way.
                  </p>

                </div>
              </div>
            </div>
          </div>




        </div>
      </div>


    </section>








    <section class="section-6">
      <div class="arr"><img src="img/arr2.png" alt=""></div>
      <div class="store">

        <div class="text">
          <div class="head">
            <h2>Amazon Storefront</h2>
            <h5>Browse the Collection</h5>
          </div>

          <a>Go To The Link</a>
        </div>

      </div>

    </section>


    <section class="section-7">

      <h1>Book Me</h1>
      <div class="form">

        <div class="form-social">
          <i class="fa-brands fa-instagram"></i>
          <p>&nbsp;&nbsp;Instagram &nbsp;</p><br>
          <i class="fa-brands fa-facebook"></i>
          <p>&nbsp;&nbsp;Facebook &nbsp;</p><br>
          <i class="fa-brands fa-twitter">
            <p>&nbsp;&nbsp;Twitter&nbsp;</p>
          </i>
        </div>

        <form action="">

          <div class="div1">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name">
          </div>
          <div class="div2">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email">
          </div>
          <div class="div3">
            <label for="msg">Message</label>
            <textarea name="msg" id="msg" rows="4.5" placeholder="Message"></textarea>
          </div>

          <button type="submit">Send</button>

        </form>

      </div>
    </section>


    <footer>

      <p>Copyright © 2024 Cyan Foster</p>

    </footer>
  </main>



  <audio id="audio" src="audio/click.wav" preload="auto"></audio>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <script src="script/index.js"></script>
  <script src="script/deve.js"></script>
  <script src="script/cover_gsap.js"></script>
  <script src="script/service.js"></script>
</body>

</html>